pipeline/incremental_ingestion.json
{
	"name": "incremental_ingestion",
	"properties": {
		"activities": [
			{
				"name": "AzureSQLtoLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_cdc",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "current",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'select * from ',\n  pipeline().parameters.schema, '.', pipeline().parameters.table,\n  ' where ', pipeline().parameters.cdc_col,\n  ' > ''', activity('last_cdc').output.firstRow.cdc, ''''\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlDatabase1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "users",
							"file": {
								"value": "@concat(pipeline().parameters.table,'_',variables('current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "last_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "cdc.json"
						}
					}
				}
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "update_last_cdc",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "cdc",
								"value": {
									"value": "asds",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "empty.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "cdc.json"
						}
					}
				]
			},
			{
				"name": "max_cdc",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "AzureSQLtoLake",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select max (@{pipeline().parameters.cdc_col}) as cdc from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"cdc_col": {
				"type": "string"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}